html{
  background:url(../images/skewed_print.png);
  height:100%;
  color: white;
}

body{
  height:100%;
}

form label{
  display: inline-block;
  text-align: right;
  width: 100px;
}

#form-div {
  background-color:rgba(72,72,72,0.4);
  padding: 20px;
  width: 360px;
  -moz-border-radius: 0 7px 7px 7px;
  -webkit-border-radius: 0 7px 7px 7px;
  border-radius: 0 7px 7px 7px;
  clear:left;
}

#tab-nav{
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}
#tab-nav li{
  background-color: #000;
  border-bottom: 0;
  padding: 5px 10px;
  text-align:center;
  margin:0px;
  margin-right:3px;
  background:rgba(72,72,72,0.4);
  float:left;
  border-radius: 7px 7px 0 0;
  color:#777;
  text-decoration:none;
  text-align:center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#tab-nav li.current{
    background-color:rgba(72,72,72,0.4);
    color:#FFFFFF;
}


canvas{
  position:absolute;
  width: 100%;
  height: 100%;
}

.plot_wrapper {
  position: relative;
  width: 100%;
  height: calc(20% - 15px);
  border:1px solid #000000;
  margin-bottom: 20px;
}

#right_pane {
  position: relative;
  display: table-cell;
  width: 100%;
  height: 100vh;
  vertical-align: top;
  padding: 2px 2px 25px 25px;
}
#canvas_wrapper {
  position: relative;
  width: 100%;
  height: 70vh;
}

.remove_button {
   position: absolute;
   top: 0px;
   right: 0px;
   z-index: 99;
   opacity: 0.1;
}
.remove_button:hover {
   opacity: 1.0;
}

.plot_label {
    position: absolute;
    z-index: 10;
}

#left_pane {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}
.container {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  vertical-align: top;
  border-spacing: 5;
}


#keys_wrapper{
    position: relative;
    width: 100%;
    height: 30vh;
    margin: 1% 0 0 0;
}

#keybox {
    position: relatve;
    width:100%;
    height: 100%;
    text-align: center;
}
#blackkeys {
    position: absolute;
    z-index: 2;
    /*padding-left: 10px;
    margin-left: 41px;*/
    width:100%;
    height: 58%;
}
.key {
    display:inline-block;
}
.black {
    background: black;
    width: 3.6%;
    height: 100%;
    margin: 0 1.2%;
    border: 1px solid black;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit  */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko         */
    box-sizing: border-box;
}
.spacer {
    display:inline-block;
    width: 6%;
    height: 100%;
}
.white {
    background: white;
    width: 6%;
    height: 100%;
    border: 1px solid black;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit  */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko         */
    box-sizing: border-box;
}
.pressed {
    background: gray
}




.start_time{
    float: left;
    margin-left: -4px;
}
.start_time input{
    border-radius: 5px;
    width: 10px;
    background: #DCDAD1;
}
.end_time {
    float: right;
    margin-right: -15px;
}
.end_time input{
    border-radius: 5px;
    width: 36px;
}

.sustain-line {
    height: 3px; /* Line width of 3 */
    background: #fff;
    border-radius: 5px;
    margin: 4.5px 5px 4.5px 3px;
}

.sustain-spacer {
    height:44px;
}

.harmonic_settings{
    padding: 8px 15px 8px 8px;
    margin: 0 0 5px 0;
    border-radius: 7px;
    border: solid;
    border-width: thin;
}
.envelope_wrapper{
    display: flex;
}

.envelope{
    display:flex;
    justify-content:
    space-between;
    width:100%;
    height:105px;
}

.envelope_label{
    font-size:14px;
    text-align:center;
}

.harmonic_header{
    color: grey;
}

.settings_form > * {
    margin: 5px 0;
}
